<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juullabs.exercise"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight"
        >

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FragmentContainerActivity" />

        <activity android:name=".activities.CalculatorChildActivity" />
        <activity android:name=".activities.CalculatorParentActivity" />
        <activity android:name=".activities.ListActivity" />
        <activity android:name=".activities.NoExtrasActivity" />
        <activity android:name=".activities.OptionalActivity" />
        <activity android:name=".activities.StandardActivity" />
        <activity android:name=".activities.SubclassActivity" />

    </application>

</manifest>
